[Unit]
Description=fsdeploy service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/fsdeploy --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
